.preview-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}

.preview-container {
  display: table-cell;
  vertical-align: middle;
}

.preview-element {
  width: 285px;
  margin: 0 auto;
}
